.menu{
    position: fixed ; 
    width:  100%;
    background: #00000060;
    height: auto;
    color: white;
    top: 0px;
    z-index: 10;
    transition: 1s;
    overflow: hidden;
    font-size: 0.9rem;
} 
.menu nav{
    display: flex;
    overflow-y: hidden;
    width: 100%;
    align-items: center;
    min-height: 45px;    
}
.menu nav::-webkit-scrollbar  {
    height: 10px;
}

.menu nav::-webkit-scrollbar-thumb  {
    background: rgb(33,169,89,1);
    border-radius: 5px;
}
.menu nav a:hover{
    box-shadow: inset 0 0 30px rgb(33,169,89);   
}
.menu nav a{
    min-width: 200px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 15px 20px 25px;
    height: 35px;
    margin-top: 5px;
    margin-left:10px;
    font-weight: bolder;
    background: transparent; 
    color: white;
    padding: 0 5px;
}

.menu nav a.color {
    border-bottom: 5px solid white;
}
.menuI{
    display: none;
}
@media (max-width : 1050px){
    .menuI{
        z-index: 1000;
        position: fixed ; 
        top: -1px;
        margin-left: 5%;
        color: white;
        font-size: 2em ;
        transition: 2s;
        margin-top: 5px;
        cursor: pointer;
        display: block;
    }
    .menu{
        background: transparent; 
        height: 40px;
        min-height: 40px;
    }
    .menu nav{
        width: 100%;
        transform: translateY(-115%);
        display: block;
        height: auto;
        margin-top: 0px; 
        justify-content: center;
        text-align: left;
        align-content: center;
        background: #00000099; 
    }
    .menu nav a{
        height: 50px;
        display: block;
        width: 80%;
        margin-left: 15%;
        margin-top: 0px;
    }
    .menu nav a:hover{
        border-bottom: none;
    }
    .aUltima{
        border-bottom: 2px solid white;
    }
}